* text=auto

*.sh text eol=lf
*.py text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.txt text eol=lf
*.service text eol=lf
*.timer text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.ps1 text eol=crlf
*.whl binary
*.tar.gz binary
